body {
    margin: 0;
    position: relative;
}

#display {
    position: absolute;
    z-index: 1;
    background-color: white;
    max-width: 140px;
    /* display: none; */
}

#canvas {
    position: absolute;
    /* image-rendering: pixelated; */
}
